doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css")
    body
        nav.navbar(role="navigation", aria-label="main navigation")
            .navbar-brand
                .navbar-end
                    a.navbar-item(href="http://bulma.io")
                        span Stripe Boilerplate
                    a.navbar-item(href="/login")
                        span Login
                    a.navbar-item(href="/signup")
                        span Signup
                    a.navbar-item(href="/items")
                        span Items
                    button.button.navbar-burger
                        span Login
                        span Signup
                        span Items
